.form-field input,
.form-field textarea {
    width: 100%;
    background-color: var(--secondary-background);
    border: 1px solid transparent;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    color: var(--primary-text);
}

.form-field input {
    font-size: 24px;
}

.form-field {
    margin-bottom: 10px;
}

/* Adds extra margin for buttons to account for form field labels */
form .button,
form p {
    margin-top: 26px;
}

/* If the input is invalid */
.form-field input:invalid,
.form-field textarea:invalid {
    border: 1px solid var(--danger);
}

.form-field label {
    color: var(--primary-text);
}

/* Remove the padding while in form-fields so label is not pushed away */
.form-field .primary-button,
.form-field .secondary-button {
    margin: 0;
}

@media screen and (min-width: 600px) {
    .small-only-dialog {
        display: block;
        position: relative;
        z-index: 1;
        box-shadow: none;
        padding: 0;
        margin: 0;
        max-width: unset;
        width: unset;
    }
}

.tag-select-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.tag-select {
    min-height: 30px;
}

.tag-select span {
    border-width: 1px;
    border-radius: 15px;
    border-color: var(--accent);
    color: var(--primary-text);
    border-style: solid;
    padding: 5px 20px;
}

.tag-select input[type="checkbox"]:checked+span {
    background-color: var(--accent);
    color: var(--light-text);
}

.tag-select input[type="checkbox"] {
    display: none;
}

.avatar-input {
    border: none;
    background: none;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    aspect-ratio: 1 / 1;

    /* Allows icon to be moved about inside */
    position: relative;

    border-radius: 10px;

    background-image: 'url(' attr(answer) ')';
}

.avatar-input span {
    font-size: 48px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.error-text {
    color: var(--danger);
}

.danger-dialog {
    background-color: var(--danger-background);
    color: var(--light-text);
}

.danger-dialog h2,
.danger-dialog p {
    color: var(--light-text)
}

dialog[open] {
    margin: auto;
    padding: 10px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
    font-size: 16px;
    min-height: 60px;
}

#card-tab[data-mode="edit"] .card-delete-button {
    display: none;
}

#card-tab[data-mode="edit"] #delete-buttons {
    display: none;
}

#card-tab[data-mode="delete"] #edit-buttons {
    display: none;
}

#card-edit-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#card-edit-list li {
    padding: 0;
}

.card-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-editor .card-question {
    border-bottom: 1px solid grey;
    border-radius: 5px 5px 0 0;
}

.card-editor .card-answer {
    border-radius: 0 0 5px 5px;
}

@media only screen and (min-width: 600px) {
    .card-editor {
        flex-direction: row;
    }

    .card-editor .card-question {
        border-radius: 5px 0 0 5px;
        border-bottom: none;
        border-right: 1px solid grey;
    }

    .card-editor .card-answer {
        border-radius: 0 5px 5px 0;
    }

    #card-tab[data-mode="delete"] .card-editor .card-answer {
        border-radius: 0;
    }
}

#card-tab[data-mode="delete"] .card-editor .card-question {
    border-top-right-radius: 0;
}

#card-tab[data-mode="delete"] .card-editor .card-answer {
    border-bottom-right-radius: 0;
}

.card-delete-button {
    background-color: var(--danger);
    color: var(--light-text);
    border: none;
    margin:0;
    margin-bottom: 10px;
    border-radius: 0 5px 5px 0;
}

.card-delete-button:hover {
    background-color: var(--danger-hover);
}

/* Chrome, Safari, Edge, Opera */
#card-counter::-webkit-outer-spin-button,
#card-counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#card-counter {
    border: none;
    background: none;
    color: var(--primary-text);
    font-size: 16px;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    pointer-events: none;
}

#card-counter::-webkit-inner-spin-button {
    display: none;
}

.card-fieldset[data-remove="true"] {
    display: none;
}

.card-fieldset {
    display: flex;
}