.deck-grid {
    /* A two row horizontally scrolling list */
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    overflow-x: scroll;
    grid-template-rows: auto auto;
    justify-content: start;

    /* Remove ul default styles */
    margin: 5px 0;
    list-style-type: none;

    /* Add page spacing */
    padding-left: var(--page-horizontal-spacing);

    grid-column: 1 / -1;
}

.deck-panel {
    /* General size and colours */
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    padding: 5px;
}

/* Highlight when hover */
.deck-panel:hover {
    background-color: var(--secondary-background-hover);
}

.deck-panel a {
    /* Remove default styles */
    text-decoration: none;
    color: var(--primary-text);

    /* Push top of panel and bottom of panel apart */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Don't hit the edges of the element */
    padding: 5px;
    box-sizing: border-box;

    /* Fill up the whole panel */
    height: 100%;
}

/* Push the titles and the save icons apart */
.deck-panel header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Normal text color */
.deck-panel h3 {
    color: var(--primary-text);
}

.deck-panel a, .deck-panel p, .deck-panel h3 {
    margin: 0;
    padding: 0;
}

/* Give it less emphasis than the title */
.deck-panel .plays {
    color: var(--secondary-text);
}

/* Give emphasis to username and indicate it will become a link */
.deck-panel header p {
    color: var(--accent);
}

.deck-panel ul {
    /* Make sure text doesn't grow past the panel */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    /* Remove default styles */
    padding: 0;
    text-decoration: none;
    color: var(--secondary-text);
}

/* Styles for larger devices */
@media only screen and (min-width: 600px) {

    /* Make larger for bigger screens */
    .deck-panel {
        width: 300px;
        height: 120px;
    }
}

.tag-list {
    /* 1 row horizontally scrolling list */
    gap: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    overflow-x: scroll;

    /* Remove default styles */
    margin: 5px 0;
    padding-left: var(--page-horizontal-spacing);
    list-style-type: none;

    grid-column: 1 / -1;
}


.tag-panel {
    /* Sizing and colours */
    background-color: var(--accent);
    border-radius: 25px;
    height: 40px;

    /* Reset default styles */
    list-style-type: none;
}

/* Highlight when hovered */
.tag-panel:hover {
    background-color: var(--accent-hover);
    color: var(--light-text-hover)
}

.tag-panel a {
    /* Sizing */
    padding: 5px 10px;
    height: 100%;

    /* Remove anchor default styles */
    text-decoration: none;
    color: var(--light-text);
    white-space: nowrap;

    /* Vertically centre text */
    display: flex;
    align-items: center;
}

.user-grid {
    /* A one row horizontally scrolling grid */
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: auto;
    justify-content: start;
    overflow-x: scroll;

    /* Add page spacing */
    padding-left: var(--page-horizontal-spacing);

    /* Remove default ul styles */
    margin: 5px 0;
    list-style-type: none;

    grid-column: 1 / -1;
}

/* Sizes and colours */
.user-panel {
    width: 150px;
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 5px;
}

/* Avatar sizes */
.user-panel img {
    height: 140px;
    width: 140px;
    border-radius: 5px;
}

/* Highlights when hovered */
.user-panel:hover {
    background-color: var(--secondary-background-hover);
}


.user-panel a {
    /* Horizontally split panel */
    flex-direction: column;
    gap: 5px;
    display: flex;

    /* Removes link default styles */
    text-decoration: none;
    color: var(--primary-text);
}

/* Vertical list */
.user-panel div {
    display: flex;
    flex-direction: column;
}

/* Override link color */
.user-panel h3 {
    color: var(--primary-text);
}

.user-panel p {
    /* Emphasises the element with the accent color */
    color: var(--accent);
}


/* Larger Screens */
@media only screen and (min-width: 600px) {

    /* Makes the user panel bigged */
    .user-panel {
        width: 300px;
    }

    /* Sizes the avatar to the large panel */
    .user-panel img {
        height: 100px;
        width: 100px;
        border-radius: 5px;
    }

    /* Flips the panel to horizontal */
    .user-panel a {
        flex-direction: row;
        gap: 10px;
    }

    /* Adds another row for a larger screen */
    .user-grid {
        grid-template-rows: auto auto;
    }
}

.card-list {
    padding: 0;
    margin: 0;
    display: grid;

    list-style-type: none;
    gap: 10px;
}

.card-panel {
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 10px;
}

.card-panel h3, .card-panel p {
    margin: 0;
}