/* Ensure the whole page is filled */
html,
body {
    height: 100%;
}

/* When setting width and height padding is included */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Remove browser defaults */
    margin: 0;

    /* Set custom text or default */
    font-family: "Roboto", sans-serif;

    /* Set custom background color */
    background-color: var(--primary-background);
    color: var(--primary-text);
    line-height: 1;
}

body>main {
    /* Scroll this rather than the whole page to not include navbar */
    overflow-y: scroll;

    /* Adds a spacer to the top and bottom of the page */
    padding: 20px 0;

    grid-area: main;
}


/* Make header elements less overpowering */
h1,
h2,
h3 {
    font-weight: 500;
}

h1,
h2,
h3 {
    /* Remove default margin and padding */
    padding: 0;

    /* Set default color */
    color: var(--primary-text);

    word-break: break-word;
}

:where(h1, h2, h3, p, .button, .form-field, .statistic-grid-large):not(.split-main *, .center-main *, .spaced-apart *, .play-main *, .tabbed-main *) {
    margin-left: var(--page-horizontal-spacing);
    margin-right: var(--page-horizontal-spacing);
}

/* Change font-size for headers */
h1 {
    font-size: 2.5rem;
}

/* Change font-size for headers */
h2 {
    font-size: 1.5rem;
}

/* Change font-size for headers */
h3 {
    font-size: 1.125rem;
}

/* For larger screens */
@media only screen and (min-width: 600px) {

    /* Make font bigger for larger screens */
    h1 {
        font-size: 3.5rem;
    }

    /* Make font bigger for larger screens */
    h2 {
        font-size: 2rem;
    }

    /* Make font bigger for larger screens */
    h3 {
        font-size: 1.5rem;
    }
}

/* Push elements to opposite sides of the box */
.spaced-apart {
    display: flex;
    justify-content: space-between;

    margin: 0 var(--page-horizontal-spacing);
}

.streak-display {
    border-radius: 10px;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    padding: 0 5px;

    /* Have items vertically centred*/
    display: flex;
    align-items: center;
}

/* Make symbol in streak display large */
.large.material-symbols-outlined {
    font-size: 48px;
}

.center-main {
    /* Centre content */
    margin: 0 var(--page-horizontal-spacing);
}

.center-main p {
    text-align: center;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent-hover);
}

.primary-button {
    background-color: var(--accent);
    color: var(--light-text);
}

.primary-button:hover {
    background-color: var(--accent-hover);
    color: var(--light-text-hover);
}

.secondary-button {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.secondary-button:hover {
    background-color: var(--secondary-background-hover);
}

.danger-button {
    background-color: var(--danger);
    color: var(--light-text)
}

.danger-button:hover {
    background-color: var(--danger-hover);
}

.light-danger-button {
    background-color: var(--danger-background);
}

.light-danger-button:hover {
    background-color: var(--danger);
}

.success-button {
    background-color: var(--success);
    color: var(--light-text)
}

.success-button:hover {
    background-color: var(--success-hover);
}

.light-success-button {
    background-color: var(--success-background);
}

.light-success-button:hover {
    background-color: var(--success);
}

.button {
    border-radius: 10px;
    border: none;

    width: 100%;

    text-decoration: none;
    height: 60px;
    
    font-size: 16px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.icon-text {
    width: 100%;
}

.split-main {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: var(--page-horizontal-spacing);
    margin-left: var(--page-horizontal-spacing);
}

/* When on large screens */
@media screen and (min-width: 600px) {
    .split-main {
        grid-template-columns: 1fr 1fr;
        gap: var(--page-horizontal-spacing);
    }
}

/* When screen is so large 1st column is greater than 500px */
@media screen and (min-width: 1140px) {

    /* Set first column to 500px */
    .split-main {
        grid-template-columns: 500px 1fr;
    }
}

/* Sizes */
@media screen and (min-width: 600px) {
    .hide-large {
        display: none !important;
    }
}

dialog {
    background-color: var(--primary-background);
    border: none;
    width: 90%;
    max-width: 500px;
    box-shadow: 5px 5px 10px grey;
    color: var(--primary-text);
    border-radius: 20px;
}


.cover-dialog {
    height: 90%;
}

section {
    margin-bottom: 10px;
}

.statistic {
    background-color: var(--secondary-background);
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.statistic h3 {
    margin: 0;
}

.statistic .material-symbols-outlined {
    font-size: 48px;
}

.statistic figcaption {
    color: var(--accent);
    font-weight: 500;
}

.statistic-grid,
.statistic-grid-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .statistic-grid-large {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.beside {
    display: flex;
    gap: 10px;
}

.large-avatar {
    width: 96px;
    height: 96px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .large-avatar {
        width: 72px;
        height: 72px;
    }
}

.icon-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 40px;
    grid-template-columns: repeat(auto-fill, 40px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

.icon-bar li {
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
}

.header-icon {
    background: none;
    border-radius: 10px;
    border: none;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-icon .material-symbols-outlined {
    color: var(--primary-text);
    font-size: 40px;
}

@media only screen and (min-width: 600px) {
    .icon-bar {
        grid-template-rows: 48px;
        grid-template-columns: repeat(auto-fill, 48px);
    }

    .header-icon .material-symbols-outlined {
        font-size: 48px;
    }
}

.header-icon:hover {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.center-text {
    text-align: center;
}

.tabbed-main> :not(.selected-tab) {
    display: none;
}

.tabbed-main>section {
    margin-right: var(--page-horizontal-spacing);
    margin-left: var(--page-horizontal-spacing);
}

.tab-bar {
    margin-left: var(--page-horizontal-spacing);
    margin-right: var(--page-horizontal-spacing);
}

.tab-bar button {
    background-color: var(--secondary-background);
    color: var(--primary-text);
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0 20px;
    font-weight: 500;
}

.tab-bar button:hover {
    background-color: var(--secondary-background-hover);
    color: var(--primary-text-hover);
}

.tab-bar .selected-tab-button {
    background-color: var(--accent);
    color: var(--light-text)
}

.tab-bar .selected-tab-button:hover {
    background-color: var(--accent-hover);
    color: var(--light-text-hover);
}

header {
    margin-bottom: 5px;
}