/* Ensure the whole page is filled */
html,
body {
    height: 100%;
}

/* When setting width and height padding is included */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Css variables */
:root {
    /* Padding style to reduce having a media query for each element */
    --page-horizontal-spacing: 10px;

    /* Light mode styles */
    --primary-text: #2f3639ff;
    --secondary-text: #454f54ff;

    --accent: #70a7c2;
    --accent-hover: #4d91b3;

    --light-text: #e6e6e6;
    --light-text-hover: #cccccc;

    --primary-background: #ecf4f9;
    --secondary-background: #d5e0ec;
    --secondary-background-hover: #b2c6dc;

    --danger: #c27e70;
    --danger-hover: #b35e4d;
    --danger-background: #d19e94;

    --success: #70c270;
    --success-hover: #4db34d;
    --success-background: #94d194;
}

/* Large Screens */
@media only screen and (min-width: 600px) {

    /* Increase padding as navbar is beside screen */
    :root {
        --page-horizontal-spacing: 20px;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: #ecf4f9;
        --secondary-text: #d5e0ec;

        --accent: #3d748f;
        --accent-hover: #4d91b3;

        --light-text: #cccccc;
        --light-text-hover: #e6e6e6;


        --primary-background: #2f3639;
        --secondary-background: #454f54;
        --secondary-background-hover: #5c6970;

        --danger: #8f4b3d;
        --danger-hover: #b35e4d;
        --danger-background: #c27e70;

        --success: #3d8f3d;
        --success-hover: #4db34d;
        --success-background: #70c270;
    }
}

body {
    /* Remove browser defaults */
    margin: 0;

    /* Set custom text or default */
    font-family: "Roboto", sans-serif;

    /* Set custom background color */
    background-color: var(--primary-background);
    color: var(--primary-text);
    line-height: 1;
}

body>main {
    /* Scroll this rather than the whole page to not include navbar */
    overflow-y: scroll;

    /* Adds a spacer to the top and bottom of the page */
    padding: 20px 0;

    grid-area: main;
}


/* Make header elements less overpowering */
h1,
h2,
h3 {
    font-weight: 500;
}

h1,
h2,
h3 {
    /* Remove default margin and padding */
    padding: 0;

    /* Set default color */
    color: var(--primary-text);

    word-break: break-word;
}

:where(h1, h2, h3, p, .button, .form-field, .statistic-grid-large):not(.split-main *, .center-main *, .spaced-apart *, .play-main *, .tabbed-main *) {
    margin-left: var(--page-horizontal-spacing);
    margin-right: var(--page-horizontal-spacing);
}

/* Change font-size for headers */
h1 {
    font-size: 2.5rem;
}

/* Change font-size for headers */
h2 {
    font-size: 1.5rem;
}

/* Change font-size for headers */
h3 {
    font-size: 1.125rem;
}

/* For larger screens */
@media only screen and (min-width: 600px) {

    /* Make font bigger for larger screens */
    h1 {
        font-size: 3.5rem;
    }

    /* Make font bigger for larger screens */
    h2 {
        font-size: 2rem;
    }

    /* Make font bigger for larger screens */
    h3 {
        font-size: 1.5rem;
    }
}

/* Push elements to opposite sides of the box */
.spaced-apart {
    display: flex;
    justify-content: space-between;

    margin: 0 var(--page-horizontal-spacing);
}

.streak-display {
    border-radius: 10px;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    padding: 0 5px;

    /* Have items vertically centred*/
    display: flex;
    align-items: center;
}

/* Make symbol in streak display large */
.large.material-symbols-outlined {
    font-size: 48px;
}

.center-main {
    /* Centre content */
    margin: 0 var(--page-horizontal-spacing);
}

/* Centers all the paragraphs in a centred main */
.center-main p, .center-main h2 {
    text-align: center;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent-hover);
}

.primary-button {
    background-color: var(--accent);
    color: var(--light-text);
}

.primary-button:hover {
    background-color: var(--accent-hover);
    color: var(--light-text-hover)
}

.secondary-button {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.secondary-button:hover {
    background-color: var(--secondary-background-hover);
}

.danger-button {
    background-color: var(--danger);
    color: var(--light-text)
}

.danger-button:hover {
    background-color: var(--danger-hover);
}

.light-danger-button {
    background-color: var(--danger-background);
    color: var(--light-text)
}

.light-danger-button:hover {
    background-color: var(--danger);
    color: var(--light-text-hover)
}

.success-button {
    background-color: var(--success);
    color: var(--light-text)
}

.success-button:hover {
    background-color: var(--success-hover);
}

.light-success-button {
    background-color: var(--success-background);
}

.light-success-button:hover {
    background-color: var(--success);
}

.button {
    border-radius: 10px;
    border: none;

    width: 100%;

    text-decoration: none;
    height: 60px;

    font-size: 16px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.icon-text {
    width: 100%;
}

.split-main {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: var(--page-horizontal-spacing);
    margin-left: var(--page-horizontal-spacing);
}

/* When on large screens */
@media screen and (min-width: 600px) {
    .split-main {
        grid-template-columns: 1fr 1fr;
        gap: var(--page-horizontal-spacing);
    }
}

/* When screen is so large 1st column is greater than 500px */
@media screen and (min-width: 1140px) {

    /* Set first column to 500px */
    .split-main {
        grid-template-columns: 500px 1fr;
    }
}

/* Sizes */
@media screen and (min-width: 600px) {
    .hide-large {
        display: none !important;
    }
}

dialog {
    background-color: var(--primary-background);
    border: none;
    width: 90%;
    max-width: 500px;
    box-shadow: 5px 5px 10px grey;
    color: var(--primary-text);
    border-radius: 20px;
}


.cover-dialog {
    height: 90%;
}

section {
    margin-bottom: 10px;
}

.statistic {
    background-color: var(--secondary-background);
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.statistic h3 {
    margin: 0;
}

.statistic .material-symbols-outlined {
    font-size: 48px;
}

.statistic figcaption {
    color: var(--accent);
    font-weight: 500;
}

.statistic-grid,
.statistic-grid-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .statistic-grid-large {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.beside {
    display: flex;
    gap: 10px;
}

.large-avatar {
    width: 96px;
    height: 96px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .large-avatar {
        width: 72px;
        height: 72px;
    }
}

.icon-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 40px;
    grid-template-columns: repeat(auto-fill, 40px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

.icon-bar li {
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
}

.header-icon {
    background: none;
    border-radius: 10px;
    border: none;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-icon .material-symbols-outlined {
    color: var(--primary-text);
    font-size: 40px;
}

@media only screen and (min-width: 600px) {
    .icon-bar {
        grid-template-rows: 48px;
        grid-template-columns: repeat(auto-fill, 48px);
    }

    .header-icon .material-symbols-outlined {
        font-size: 48px;
    }
}

.header-icon:hover {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.center-text {
    text-align: center;
}

.tabbed-main> :not(.selected-tab) {
    display: none;
}

.tabbed-main>section {
    margin-right: var(--page-horizontal-spacing);
    margin-left: var(--page-horizontal-spacing);
}

.tab-bar {
    margin-left: var(--page-horizontal-spacing);
    margin-right: var(--page-horizontal-spacing);
    margin-bottom: 20px;
}

.tab-bar button {
    background-color: var(--secondary-background);
    color: var(--primary-text);
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0 20px;
    font-weight: 500;
}

.tab-bar button:hover {
    background-color: var(--secondary-background-hover);
    color: var(--primary-text-hover);
}

.tab-bar .selected-tab-button {
    background-color: var(--accent);
    color: var(--light-text)
}

.tab-bar .selected-tab-button:hover {
    background-color: var(--accent-hover);
}

header {
    margin-bottom: 5px;
}

.deck-grid {
    /* A two row horizontally scrolling list */
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    overflow-x: scroll;
    grid-template-rows: auto auto;
    justify-content: start;

    /* Remove ul default styles */
    margin: 5px 0;
    list-style-type: none;

    /* Add page spacing */
    padding-left: var(--page-horizontal-spacing);

    grid-column: 1 / -1;
}

.deck-panel {
    /* General size and colours */
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    padding: 5px;
}

/* Highlight when hover */
.deck-panel:hover {
    background-color: var(--secondary-background-hover);
}

.deck-panel a {
    /* Remove default styles */
    text-decoration: none;
    color: var(--primary-text);

    /* Push top of panel and bottom of panel apart */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Don't hit the edges of the element */
    padding: 5px;
    box-sizing: border-box;

    /* Fill up the whole panel */
    height: 100%;
}

/* Push the titles and the save icons apart */
.deck-panel header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Normal text color */
.deck-panel h3 {
    color: var(--primary-text);
}

.deck-panel a,
.deck-panel p,
.deck-panel h3 {
    margin: 0;
    padding: 0;
}

/* Give it less emphasis than the title */
.deck-panel .plays {
    color: var(--secondary-text);
}

/* Give emphasis to username and indicate it will become a link */
.deck-panel header p {
    color: var(--accent);
}

.deck-panel ul {
    /* Make sure text doesn't grow past the panel */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    /* Remove default styles */
    padding: 0;
    text-decoration: none;
    color: var(--secondary-text);
}

.deck-panel-icons {
    display: flex;
}

/* Styles for larger devices */
@media only screen and (min-width: 600px) {

    /* Make larger for bigger screens */
    .deck-panel {
        width: 300px;
        height: 120px;
    }
}

.tag-list {
    /* 1 row horizontally scrolling list */
    gap: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    overflow-x: scroll;

    /* Remove default styles */
    margin: 5px 0;
    padding-left: var(--page-horizontal-spacing);
    list-style-type: none;

    grid-column: 1 / -1;
}


.tag-panel {
    /* Sizing and colours */
    background-color: var(--accent);
    border-radius: 25px;
    height: 40px;

    /* Reset default styles */
    list-style-type: none;
}

/* Highlight when hovered */
.tag-panel:hover {
    background-color: var(--accent-hover);
}

.tag-panel a {
    /* Sizing */
    padding: 5px 10px;
    height: 100%;

    /* Remove anchor default styles */
    text-decoration: none;
    color: var(--light-text);
    white-space: nowrap;

    /* Vertically centre text */
    display: flex;
    align-items: center;
}

.tag-panel p {
    vertical-align: middle;
}

.user-grid {
    /* A one row horizontally scrolling grid */
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: auto;
    justify-content: start;
    overflow-x: scroll;

    /* Add page spacing */
    padding-left: var(--page-horizontal-spacing);

    /* Remove default ul styles */
    margin: 5px 0;
    list-style-type: none;

    grid-column: 1 / -1;
}

/* Sizes and colours */
.user-panel {
    width: 150px;
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 5px;
}

/* Avatar sizes */
.user-panel img {
    height: 140px;
    width: 140px;
    border-radius: 5px;
}

/* Highlights when hovered */
.user-panel:hover {
    background-color: var(--secondary-background-hover);
}


.user-panel a {
    /* Horizontally split panel */
    flex-direction: column;
    gap: 5px;
    display: flex;

    /* Removes link default styles */
    text-decoration: none;
    color: var(--primary-text);
}

/* Vertical list */
.user-panel div {
    display: flex;
    flex-direction: column;
}

/* Override link color */
.user-panel h3 {
    color: var(--primary-text);
}

.user-panel p {
    /* Emphasises the element with the accent color */
    color: var(--accent);
}


/* Larger Screens */
@media only screen and (min-width: 600px) {

    /* Makes the user panel bigged */
    .user-panel {
        width: 300px;
    }

    /* Sizes the avatar to the large panel */
    .user-panel img {
        height: 100px;
        width: 100px;
        border-radius: 5px;
    }

    /* Flips the panel to horizontal */
    .user-panel a {
        flex-direction: row;
        gap: 10px;
    }

    /* Adds another row for a larger screen */
    .user-grid {
        grid-template-rows: auto auto;
    }
}

.card-list {
    padding: 0;
    margin: 0;
    display: grid;

    list-style-type: none;
    gap: 10px;
}

.card-panel {
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 10px;
}

.card-panel h3,
.card-panel p {
    margin: 0;
}