:root {
  /* Padding style to reduce having a media query for each element */
  --page-horizontal-spacing: 10px;

  /* Light mode styles */
  --primary-text: #2f3639ff;
  --secondary-text: #454f54ff;

  --accent: hsl(200, 40%, 60%);
  --accent-hover: hsl(200, 40%, 50%);

  --light-text: hsl(0, 0%, 90%);
  --light-text-hover: hsl(0, 0%, 85%);

  --primary-background: hsl(200, 50%, 95%);

  --secondary-background: #d5e0ec;
  --secondary-background-hover: hsl(211, 38%, 78%);

  --danger: hsl(10, 40%, 60%);
  --danger-hover: hsl(10, 40%, 50%);
  --danger-background: hsl(10, 40%, 70%);

  --warning: hsl(50, 40%, 60%);
  --warning-hover: hsl(50, 40%, 50%);
  --warning-background: hsl(50, 40%, 70%);

  --success: hsl(120, 40%, 60%);
  --success-hover: hsl(120, 40%, 50%);
  --success-background: hsl(120, 40%, 70%);
}

/* Large Screens */
@media only screen and (min-width: 600px) {

  /* Increase padding as navbar is beside screen */
  :root {
    --page-horizontal-spacing: 20px;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: hsl(200, 50%, 95%);
    --secondary-text: #d5e0ec;

    --accent: hsl(200, 40%, 40%);
    --accent-hover: hsl(200, 40%, 50%);
    --accent-text: hsl(0, 0%, 90%);
    --accent-text-hover: hsl(0, 0%, 95%);

    --primary-background: #2f3639ff;
    --secondary-background: hsl(200, 10%, 30%);
    --secondary-background-hover: hsl(200, 10%, 40%);
  }
}

:root {
  --ambiguous-color: #AAAAAA;
  --failed-color: #BBBBBB;
  --not-defined-color: #CCCCCC;
  --passed-color: #DDDDDD;
  --pending-color: #EEEEEE;
  --skipped-color: #FFFFFF;
}